<% if flash.now[:error] %>
  <% flash.now[:error].each do |error_msg| %>
    <li><%= error_msg %></li>
  <% end %><br>
<% end %>

<%=form_tag '/sessions' do %>
<%= email_field_tag :email %>
<%= password_field_tag :password %>
<%= submit_tag "login" %>
<% end %>

