<% if flash.now[:error] %>
  <% flash.now[:error].each do |error_msg| %>
    <li><%= error_msg %></li>
  <% end %><br>
<% end %>

<h1>Log In to Discover Hidden Gems!</h1><br>
<%=form_tag '/sessions' do %>
Email: <%= email_field_tag :email %><br><br>
Password:<%= password_field_tag :password %><br><br>
<%= submit_tag "login" %>
<% end %>

