<h1>Hello <%= @user.full_name %></h1>
<br>
<h2>My Visits:</h2>
<ul>
  <% @user.locations.each do |location| %>
  <li><%= link_to location.name, location_path(location) %></li>
  <% end %>
</ul>


<%= form_for @visit do |f| %>
<%= f.collection_select :location_id, Location.all, :id, :name %>
<%= f.hidden_field :user_id, value: @user.id %>
<%= f.date_select :date %>
<%= f.submit "Add Location" %>
<% end %>



<%# <!-- friends -->
<!-- option to write a review --> %>
