<h1><%= @user.full_name %></h1>
<br>
<h2>Visits:</h2>

<ul>
  <% @user.visits.each do |visit| %>
  <li><%= link_to visit.location.name, location_path(visit.location) %> (<%= visit.visit_date %>)</li>
  <%= form_for visit, :method => :delete do |f| %>
  <%= f.submit "Remove Visit" %>
    <% end %>
  <% end %>
</ul>

<h2>Add Visit:</h2>
<%= form_for @visit do |f| %>
<%= f.collection_select :location_id, Location.all, :id, :name %>
<%= f.hidden_field :user_id, value: @user.id %>
<%= f.date_select :visit_date %>
<%= f.submit "Add Location" %>
<% end %>


<%# show friends %>
