<h1>Introduce a Hidden Gem!</h1>

<% if flash.now[:error] %>
    <h3> Errors: </h3>
    <ul>
    <% flash.now[:error].each do |err| %>
        <%= err %><br>
    <% end %>
    </ul>
<% end %>

<%= form_for @location do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br><br>
    <%= f.label "Description (Max. 50 words)" %>
    <%= f.text_area :description %>
    <br><br>
    <%= f.label :country %>
    <%= f.collection_select :country_id, Country.all, :id, :name %>
    <%= f.hidden_field :user_id, value: current_user %>
    <br><br>
    <%= f.submit %>
<% end %>
