<h1>Introduce a Hidden Gem!</h1>
<% if flash.now[:error] %>
  <% flash.now[:error].each do |error_msg| %>
    <li><%= error_msg %></li>
  <% end %><br>
<% end %>

<%= form_for @location do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br><br>
    <%= f.label "Description (Max. 50 words)" %>
    <%= f.text_area :description %>
    <br><br>
    <%= f.label :country %>
    <%= f.collection_select :country_id, Country.all, :id, :name %>
    <br><br>
    <%= f.submit %>
<% end %>
