<h1><%= @location.name %></h1>
<h2>Country: <%= @location.country.name%></h2>
<p><%= @location.description %></p>
<br>
<h4>Favorites: <%= @location.favorites %></h4> 
<br>
<br>
<h4>Hidden Gem Added By <%= link_to @location.owner.full_name, user_path(@location.owner) %></h4>
