<div class="page-wrap" >
    <h1><%= @location.name %></h1>
    <h2>Country: <%= @location.country.name%></h2>
    <p><%= @location.description %></p>
    <br>
    <h4>Favorites: <%= @location.fav_users.count %></h4> 

    <% if session[:user_id] %>
        <% if @location.favorite?(session[:user_id]) %>
            <%= button_to "Unfavorite", "/favorites/destroy/#{session[:user_id]}/#{@location.id}", method: :delete %>
        <% else %>
            <%= button_to "Favorite", "/favorites/new/#{session[:user_id]}/#{@location.id}", method: :get %>
        <% end %>
    <% end %>
        
    <br>
    <br>
    <h4>Hidden Gem Added By <%= link_to @location.owner.full_name, user_path(@location.owner) %></h4>
    <% if session[:user_id] == @location.owner.id %>
        <%= button_to "Edit Hidden Gem", edit_location_path, method: :get %>
    <% end %>
</div>